.sapMShellBrandingBar {
    height: 0px;
}

.sapMSplitContainerMaster.sapMSplitContainerMasterVisible {
    width: 500px;
}/* Enter your custom styles here */

.custTitleStyle{
	padding: 20px 0;
}